*, *:after, *:before {
  box-sizing: border-box;
}

@include breakpoint(0, $mobile) {

  //--- GENERAL ---
  body{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    font-style:normal;
    font-weight: 300;
  }

  section{
    padding-top: 50px;
  }

  //--- FONTS ---
  p, blockquote, h1, h2, h3, .super-headline{
    padding-left: 15px;
  }

  h1{
    padding-top: 15px;
    color: white;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style:normal;
    font-weight: 300;

    #uppercase{
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  h2{
    color: #F4A76C;
    font-family: 'Source Sans Pro',   sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 28px;
  }

  h3{
    color:#F4A76C;
    padding-top: 55px;
    margin-bottom: 15px;
  }

  #title{
    text-transform: uppercase;
    font-weight: bold;
  }

  .super-headline{
    color: #363636;
    text-transform: uppercase;
    letter-spacing: 1%;
    font-size: 10px;
    font-family: 'Source Sans Pro',  sans-serif;
    font-style:normal;
    font-weight: 300;
  }
  
  //--- WORKSHOP ---
  .level{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #363636 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    margin-top: 80px;
    min-height: 200px;
    padding-bottom: 40px;
    
    .box{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .quote{
        height:60px;
        width:60px;
      }

      p{
        margin-bottom: 15px;
      }
      .number{
        position: absolute;
        color: #F4A76C;
        height: 25px;
        width: 25px;
        border-radius: 100px;
        background-color: #d5d5d5;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 33%;
        margin-bottom: 90px;

        p{
          padding: 0;
          margin: 0;

        }
      }
    }

    .circle{
      background-color: #595959;
      position: absolute;
      margin-bottom: 25px;
      border-radius: 80px;
      width: 105px;
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        height: 65px;
      }
    }
    [class^=apply-] {

      position: absolute;
      text-align: center;
      right: 0;
      z-index: 2;
      transform-origin: 0% 100%;
      transform: translateX(100%) rotate(-90deg);
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 200;
      font-style: normal;
      font-size: 14px;
      color: hsl(0deg, 0%, 10%);
      background-color: hsl(0deg, 0%, 97%);
      padding: 10px 10px 16px 16px;
    }
    .apply-1{
      bottom: -56px;
      width: 304px;
    }
    .apply-2{
      bottom: -424px;
      width: 290px;
    }
    .apply-3{
      bottom: -808px;
      width: 306px;
    }
  }
    
  //--- BUTTON ---   
  .button{
    top: 412px;
    left: 287px;
    width: 145px;
    height: 34px;
    border: 1px solid #F4A76C;
    opacity: 1;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro',   sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 12px;
    margin: 10px;
  }

  //--- HEADER ---
  header{
    background-image: url("../images/dance_two_man.jpg");
    background-repeat: no-repeat;
    background-size:150%;
    display: flex;
    flex-direction: column;
    background-position: 50% 0;
    height: 400px;

    h2{
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    .box{
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      padding-top: 110px;
      
      align-items: end;
      height: 100%;
    }
    #headline{
      width: 220px;
      left: 0;
    }
    li{
      font-size: 16px;
      font-family: 'Source Sans Pro',  sans-serif;
      font-style:normal;
      font-weight: 200;
    }
  }
  
  //--- ABOUT ME ---
  #about{
    padding-bottom: 40px;
    background: #FFF7F2 0% 0% no-repeat padding-box;
    h2{
      padding-top:5px;
      font-size: 24px;
      margin-bottom: 15px;
    }
    .button{
      margin-top: 20px;
      color:black;
    }
    img{
      width: 100%;
      margin-bottom: 15px;
    }
  }

  //--- NEWS ---
  #news{
    article{
      padding-bottom: 20px;
      margin: 15px;
      background-color: #F7F7F7;

      .button{
        margin-top: 20px;
        color:black;
      }
      img{
        width: 100%;
        margin-bottom: 15px;
      }
      h3{
        padding-top:10px;
      }
    }
  }
}


// -------------------------------------------------------------------------


  //--- GENERAL ---
  body{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'Source Sans Pro',  sans-serif;
    font-style:normal;
    font-weight: 300;
  }

  section{
    padding-top: 50px;
  }

  //--- FONTS ---
  p, blockquote, h1, h2, h3, .super-headline{
    padding-left: 15px;
  }

  h1{
    padding-top: 15px;
    color: white;
    font-size: 14px;
    font-family: 'Source Sans Pro',  sans-serif;
    font-style:normal;
    font-weight: 300;

    #uppercase{
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  h2{
    color: #F4A76C;
    font-family: 'Source Sans Pro',   sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 28px;
  }

  h3{
    color:#F4A76C;
    padding-top: 55px;
    margin-bottom: 15px;
  }

  #title{
    text-transform: uppercase;
    font-weight: bold;
  }

  .super-headline{
    color: #363636;
    text-transform: uppercase;
    letter-spacing: 1%;
    font-size: 10px;
    font-family: 'Source Sans Pro',  sans-serif;
    font-style:normal;
    font-weight: 300;
  }
  
  //--- WORKSHOP ---
  .level{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #363636 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    margin-top: 80px;
    min-height: 200px;
    padding-bottom: 40px;
    
    .box{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .quote{
        height:60px;
        width:60px;
      }

      p{
        margin-bottom: 15px;
      }
    }

    .circle{
      background-color: #595959;
      position: absolute;
      margin-bottom: 25px;
      border-radius: 80px;
      width: 105px;
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        height: 65px;
      }
    }
    // [class^=apply-] {

    //   position: absolute;
    //   text-align: center;
    //   right: 0;
    //   z-index: 2;
    //   transform-origin: 0% 100%;
    //   transform: translateX(100%) rotate(-90deg);
    //   font-family: "Source Sans Pro", sans-serif;
    //   font-weight: 200;
    //   font-style: normal;
    //   font-size: 14px;
    //   color: hsl(0deg, 0%, 10%);
    //   background-color: hsl(0deg, 0%, 97%);
    //   padding: 10px 10px 16px 16px;
    // }
    // .apply-1{
    //   bottom: -85px;
    //   width: 318px;
    // }
    // .apply-2{
    //   bottom: -468px;
    //   width: 304px;
    // }
    // .apply-3{
    //   bottom: -866px;
    //   width: 318px;
    // }
  }
    
  //--- BUTTON ---   
  .button{
    top: 412px;
    left: 287px;
    width: 145px;
    height: 34px;
    border: 1px solid #F4A76C;
    opacity: 1;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro',   sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 12px;
    margin: 10px;
  }

  //--- HEADER ---
  header{
    background-image: url("../images/dance_two_man.jpg");
    background-repeat: no-repeat;
    background-size:150%;
    display: flex;
    flex-direction: column;
    background-position: 50% 0;
    height: 400px;

    h2{
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    .box{
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      padding-top: 60px;
      
      align-items: end;
      height: 100%;
    }
    #headline{
      width: 220px;
      left: 0;
    }
    li{
      font-size: 16px;
      font-family: 'Source Sans Pro',  sans-serif;
      font-style:normal;
      font-weight: 200;
    }
  }
  
  //--- ABOUT ME ---
  #about{
    padding-bottom: 40px;
    background: #FFF7F2 0% 0% no-repeat padding-box;
    h2{
      padding-top:5px;
      font-size: 24px;
      margin-bottom: 15px;
    }
    .button{
      margin-top: 20px;
      color:black;
    }
    img{
      width: 100%;
      margin-bottom: 15px;
    }
  }

  //--- NEWS ---
  #news{
    article{
      padding-bottom: 20px;
      margin: 15px;
      background-color: #F7F7F7;

      .button{
        margin-top: 20px;
        color:black;
      }
      img{
        width: 100%;
        margin-bottom: 15px;
      }
      h3{
        padding-top:10px;
      }
    }
  }
